
/* MObile */
@media only screen and (max-width: 36rem) {
    .header{
        height:8.5rem;
        /* overflow: hidden; */
    }
    .menu{
        display: none;
    }
    .mega__menu{
        display: block;
        width:100%;
    }

    .menu__search{
        width: 20rem;
        margin-right: 2rem;
    }

    .logo{
        width:30rem;
       margin: 0 60px;
       margin-left: 12rem;
    }

    .mega__menu{
        width:100%;
        background-color: white;
    }

    .mega__menu-item{
        display:flex;
        margin:0;
        width: 100%;
        align-items: center;
    }
    .content{
        margin-left:0;
    }
    .giohang_mega{
        margin-left: 3rem;
    }
    .icon__bar-megamenu{
        position: absolute;
        font-size:4.5rem;
        left: 1.5rem;
    }
.submenuMega-item{
    display: flex;
    justify-content:center;
}

.submenuMega-item .menu__item {
    margin:0 3rem;
}
    .submenuMega{
        width:100%;
        position: absolute;
        background-color:#ffffff;
        min-height:100vh;
        z-index: 10000000;
        left: 0;
        top: 8rem;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .3s linear;

       /* background-color:red; */
    }
    .submenuMega.active {
        visibility: visible;
        opacity: 1;
    }
    .menu__child{
        top: 4rem;
    }
    /* Product details */
    .box__product-responsive{
        display: flex;
        flex-direction:column-reverse;
    }

  }


  /* Tablet */
@media(min-width: 48rem) and (max-width: 61.999rem){
    .header{
        height:8.5rem;
        /* overflow: hidden; */
    }
    .menu{
        display: none;
    }
    .mega__menu{
        display: block;
        width:100%;
    }

    .menu__search{
        width: 20rem;
        margin-right: 2rem;
    }

    .logo{
        width:30rem;
       margin: 0 60px;
       margin-left: 12rem;
    }

    .mega__menu{
        width:100%;
        background-color: white;
    }

    .mega__menu-item{
        display:flex;
        margin:0;
        width: 100%;
        align-items: center;
    }
    .content{
        margin-left:0;
    }
    .giohang_mega{
        margin-left: 3rem;
    }
    .icon__bar-megamenu{
        position: absolute;
        font-size:4.5rem;
        left: 1.5rem;
    }
.submenuMega-item{
    display: flex;
    justify-content:center;
}

.submenuMega-item .menu__item {
    margin:0 3rem;
}
    .submenuMega{
        width:100%;
        position: absolute;
        background-color:#ffffff;
        min-height:100vh;
        z-index: 10000000;
        left: 0;
        top: 8rem;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .3s linear;

       /* background-color:red; */
    }
    .submenuMega.active {
        visibility: visible;
        opacity: 1;
    }
    .menu__child{
        top: 4rem;
    }
    /* Product details */
    .box__product-responsive{
        display: flex;
        flex-direction:column-reverse;
    }


 }
/* end tablet */



/* PC */
  @media (max-width: 77.75rem){
    .header a{
        font-size:1.4rem

    }

}

  @media (min-width: 62rem){

    .mega__menu{
        display: none;
    }
}
