:root{
    --edit-color: #5F9EA0;
    --edit-color-hover: #4682B4;
    --delete-color: #A52A2A;
    --delete-color-hover: #800000;
    --font-size-16: 16px;
    --font-size-20: 20px;
}
.edit__color{
    color: var(--edit-color);
    font-size: var(--font-size-20);
    cursor:pointer;
}

.delete__color{
    color: var(--delete-color);
    font-size: var(--font-size-20);
    cursor:pointer;
}
